// SPDX-License-Identifier: GPL-2.0
/dts-v1/;
#include "bcm2837.dtsi"
#include "bcm2835-rpi.dtsi"
#include "bcm283x-rpi-usb-host.dtsi"

/ {
	compatible = "raspberrypi,3-compute-model", "brcm,bcm2837";
	model = "Raspberry Pi Compute Module 3";

	memory {
		reg = <0 0x40000000>;
	};

	leds {
		act {
			gpios = <&gpio 47 0>;
		};
	};
};

&hdmi {
	hpd-gpios = <&gpio 46 GPIO_ACTIVE_LOW>;
};

&uart0 {
	pinctrl-names = "default";
	pinctrl-0 = <&uart0_gpio14>;
	status = "okay";
};

/* SDHOST is used to drive the SD card */
&sdhost {
	pinctrl-names = "default";
	pinctrl-0 = <&sdhost_gpio48>;
	status = "okay";
	bus-width = <4>;
};

&gpio {
            can0_pins: can0_pins {
                brcm,pins = <16 17 18>;
                brcm,function = <0>; /* input */
            };
};

&clocks {
            /* external oscillator of mcp2517fd on SPI0.0 */
            can0_osc: can0_osc {
                compatible = "fixed-clock";
                #clock-cells = <0>;
                clock-frequency  = <4000000>;
            };
};

&spi {
       status = "okay";
       pinctrl-names = "default";
       pinctrl-0 = <&spi0_gpio7>;
        can0: mcp2517fd@0 {
                reg = <0>;
                compatible = "microchip,mcp2517fd";
                pinctrl-names = "default";
                pinctrl-0 = <&can0_pins>;
                spi-max-frequency = <12500000>;
                interrupt-parent = <&gpio>;
                interrupts = <16 0x8>;
                clocks = <&can0_osc>;
                microchip,clock_div = <1>;
                microchip,clock_out_div = <10>;
                microchip,gpio0_mode = <1>; /* TX-interrupt output */
                microchip,gpio1_mode = <1>; /* RX-interrupt output */
            };

};